{% extends "base.html" %}


{% block title %}
 {% endblock title %}

{{% block content %}
<div class="card">
    <div class="card-header">
        <h4><strong> Tem certeza que deseja remover a UNIDADE abaixo?</strong></h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Usuário: {{armario.usuario}}</h5>
        <h5 class="card-title">Nome: {{unidade.nome}}</h5>             
        <h5 class="card-title">Observações: {{unidade.obs}}</h5>
            <form method="post">
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>


    </div>
</div>

{% endblock content %}