
{% extends "base.html" %}
{% load static %}
{% load meus_filtros %}
{% block title %}
{% endblock title %}

{% block content %}
 <h4><strong>DASHBOARD</strong></h4>
 <title>IFBAIANO-CAMPUS-ITAPETINGA-NLAB</title>
</head>
<link rel="stylesheet" href="{% static 'nlab/css/style.css' %}">
<body class="d-flex flex-column">
  <div class="sidenav">
   
         <div class="login-main-text">
            <img src="\media\imagens\frente.jpg" alt="some text" width=1080 height=480>
            <h1>IFBAIANO<h1><h4>Instituto Federal de Educação, Ciência e Tecnologia Baiano, Campus Itapetinga</h4>                 
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">              
            </div>
         </div>
      </div>

{% endblock content %}












