{% extends "base.html" %}


{% block title %}

{% endblock title %}

{{% block content %}
<div class="card">
    <div class="card-header">
        <h4><strong> Tem certeza que deseja remover a Aula Prática abaixo?</strong></h4>
    </div>
    
    <div class="card-body">
        <div class="card-body">                
            <h5 class="card-title">Número: {{aulapratica.id}}</h5>  
            <h5 class="card-title">Nome: {{aulapratica.nome}}</h5>         
            <h5 class="card-title">sala : {{aulapratica.sala}}</h5>      
            <h5 class="card-title">Data e hora do Inicio da Aula : {{aulapratica.data_inicio}}</h5>      
            <h5 class="card-title">Horário inicial : {{aulapratica.horario_inicio}}</h5>       
            <h5 class="card-title">Horário fim : {{aulapratica.horario_fim}</h5>    
            <h3 class="card-title">Quantidade de Alunos : {{aulapratica.quantalunos}}</h5>         
            <h5 class="card-title">Observações: {{aulapratica.obs}}</h5>    
            <h5 class="card-title">Status : {{aulapratica.status}}</h5>      
               
            
            <form method="post">
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>


    </div>
</div>

{% endblock content %}