{% extends "base.html" %}


{% block title %}

{% endblock title %}

{{% block content %}
<div class="card">
    <div class="card-header">
        <h4><strong> Tem certeza que deseja remover O DESTINATÁRIO abaixo?</strong></h4>
    </div>
    
    <div class="card-body">
        <h5 class="card-title">Usuário: {{destinatario.usuario}}</h5>
        <h5 class="card-title">Nome: {{destinatario.nome}}</h5>
        <h5 class="card-title">CNPJ: {{destinatario.cnpj}}</h5>
        <h5 class="card-title">CPF: {{destinatario.cpf}}</h5>
        <h5 class="card-title">Data de Cadastro: {{destinatario.data_cadastro}}</h5>
        <h5 class="card-title">Endereco: {{destinatario.endereco}}</h5>
        <h5 class="card-title">Telefone Fixo: {{destinatario.telefone}}</h5>
        <h5 class="card-title">Celular: {{destinatario.cel}}</h5>
        <h5 class="card-title">E-mail : {{destinatario.email}}</h5>
        <h5 class="card-title">Observações: {{destinatario.obs}}</h5>
        
        
            <form method="post">
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>


    </div>
</div>

{% endblock content %}