{% extends "base.html" %}

{% block title %}
Lista das Prateleira
{% endblock title %}

{{% block content %}
 <h4><strong>DADOS DA PRATELEIRA</strong></h4>
<div class="card">
    <div class="card-header">        
    </div>
    <div class="card-body">
        <h5 class="card-title">Usuário: {{armario.usuario}}</h5>
        <h5 class="card-title">Nome: {{estante.nome}}</h5>
        <h5 class="card-title">Sibla: {{estante.sibla}}</h5>
        <h5 class="card-title">Armario: {{prateleira.armario|default_if_none:"--"}}</h5>
        <h5 class="card-title">Bancada: {{prateleira.bancada|default_if_none:"--"}}</h5>
        <h5 class="card-title">Estante: {{prateleira.estante|default_if_none:"--"}}</h5>       
        <h5 class="card-title">Observações: {{estante.obs}}</h5>

    </div>
</div>

{% endblock content %}
