{% extends "base.html" %}

{% block title %}
Lista de Armários
{% endblock title %}
{% block content %}
<h4><strong>LISTA DE SOLUÇÕES</strong></h4>
<div style="overflow: auto; width: 1080px">
    <a href="{% url 'sisnlab:cadastrar_solucao' %}">
        <button class="btn btn-primary ">Cadastrar</button>
    </a>
    <table class="table table-striped">   
        <thead>
        <tr>
            <th>Usuário</th>        
            <th>Nome</th>             
            <th>Observação</th>                         
            <th>Ações</th>
        </tr>

        </thead>
        <tbody>
        {% for i in solucoes %}
        <tr>
            <td><a href="{% url 'sisnlab:visualizar_solucao' i.id %}">{{i.usuario}}</a></td>      
            <td><a href="{% url 'sisnlab:visualizar_solucao' i.id %}">{{i.nome}}</a></td>              
            <td><a href="{% url 'sisnlab:visualizar_solucao' i.id %}">{{i.obs}}</a></td>
          

            <td>
                <a href="{% url 'sisnlab:editar_solucao' i.id %}" button class="btn btn-success btn-sm">Editar</a>
                <a href="{% url 'sisnlab:remover_solucao' i.id %}" button class="btn btn-danger btn-sm">Remover</button> </a>
                <a href="{% url 'sisnlab:visualizar_solucao' i.id %}" button class="btn btn-info btn-sm">Visualizar</button> </a>
                

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>

{% endblock content %}
