{% extends "base.html" %}


{% block title %}
 {% endblock title %}

{{% block content %}
<div class="card">
    <div class="card-header">
        <h4><strong> Tem certeza que deseja remover a GAVETA abaixo?</strong></h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Usuário: {{armario.usuario}}</h5>
        <h5 class="card-title">Nome: {{gaveta.nome}}</h5>
        <h5 class="card-title">Sibla: {{gaveta.sibla}}</h5>   
        <h5 class="card-title">Armario: {{gaveta.armario}}</h5>
        <h5 class="card-title">Bancada: {{gaveta.bancada}}</h5>
        <h5 class="card-title">Estante: {{gaveta.estante}}</h5>      
        <h5 class="card-title">Observações: {{gaveta.obs}}</h5>
            <form method="post">
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>


    </div>
</div>

{% endblock content %}