{% extends "base.html" %}

{% block title %}
Lista das Gaveta

{% endblock title %}

{% block content %}
<h4><strong>LISTA DE GAVETA</strong></h4>
<table class="table table-striped">   
    <thead>
    <tr>
        <th>Usuário</th>
        <th>Nome</th>       
        <th>Sigla</th> 
        <th>Armario</th>  
        <th>Bancada</th>   
        <th>Estante</th>   
        <th>Ações</th>
    </tr>

    </thead>
    <tbody>
    {% for i in gavetas %}
    <tr>
        <td><a href="{% url 'sisnlab:editar_prateleira' i.id %}">{{i.usuario|default_if_none:"--"}}</a></td>
        <td><a href="{% url 'sisnlab:editar_gaveta' i.id %}">{{i.nome|default_if_none:"--"}}</a></td>        
        <td><a href="{% url 'sisnlab:editar_gaveta' i.id %}">{{i.sigla|default_if_none:"--"}}</a></td>
        <td><a href="{% url 'sisnlab:editar_gaveta' i.id %}">{{i.armario|default_if_none:"--"}}</a></td>
        <td><a href="{% url 'sisnlab:editar_gaveta' i.id %}">{{i.bancada|default_if_none:"--"}}</a></td>
        <td><a href="{% url 'sisnlab:editar_gaveta' i.id %}">{{i.estante|default_if_none:"--"}}</a></td>   
             
        <td>
            <a href="{% url 'sisnlab:editar_gaveta' i.id %}" button class="btn btn-success btn-sm">Editar</a>
            <a href="{% url 'sisnlab:remover_gaveta' i.id %}" button class="btn btn-danger btn-sm">Remover</button> </a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'sisnlab:cadastrar_gaveta' %}">
    <button class="btn btn-primary ">Cadastrar</button>
</a>
{% endblock content %}
