{% extends "base.html" %}

{% block title %}
Lista de Salas
{% endblock title %}

{% block content %}
<h4><strong>LISTA DE SALAS</strong></h4>

<table class="table table-striped">   
    <thead>
    <tr>
        <th>Usuário</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>

    </thead>
    <tbody>
    {% for i in salas %}
    <tr>
        <td><a href="{% url 'sisnlab:listar_sala_id' i.id %}">{{i.usuario}}</a></td>
        <td><a href="{% url 'sisnlab:listar_sala_id' i.id %}">{{i.nome}}</a></td>

        <td>
            <a href="{% url 'sisnlab:editar_sala' i.id %}" button class="btn btn-success btn-sm">Editar</a>
            <a href="{% url 'sisnlab:remover_sala' i.id %}" button class="btn btn-danger btn-sm">Remover</button> </a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'sisnlab:cadastrar_sala' %}">
    <button class="btn btn-primary ">Cadastrar</button>
</a>
{% endblock content %}
