{% extends "base.html" %}


{% block title %}

{% endblock title %}

{{% block content %}
<div class="card">
    <div class="card-header">
        <h4><strong> DADOS DO REAGENTE</strong></h4>
    </div>
    
    <div class="card-body">
        <h5 class="card-title">Usuário: {{armario.usuario}}</h5>
        <h5 class="card-title">Nome: {{armario.nome}}</h5>
        <h5 class="card-title">Sibla: {{armario.sibla}}</h5>
        <h5 class="card-title">Tombo: {{armario.tombo}}</h5>
        <h5 class="card-title">Sala: {{armario.sala}}</h5>
        <h5 class="card-title">Observações: {{armario.obs}}</h5>       
        <h5 class="card-title"><strong>Foto :</strong>  <img src="{{armario.fotoarmario.url}}" alt="Norway" style="width:30%">   <a href="{{ armario.fotoarmario.url }}" target="_blank" class="btn btn-success btn-download" >Imagem</a></h5>
      
          
     
            <form method="post">
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>            
        </form>


    </div>
</div>

{% endblock content %}


<h5 class="card-title">Imagem: {{armario.imagem}}</h5>    