{% extends "base.html" %}

{% block title %}
Lista de FORNECEDORES
{% endblock title %}
{% block content %}
<h4><strong>LISTA DE FORNECEDORES</strong></h4>
<table class="table table-striped">   
    <thead>
    <tr>
        <th>Usuário</th>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>CPF</th>
        <th>Data de Cadastro</th>   
        <th>Endereço</th>        
        <th>Telefone Fixo</th>        
        <th>Cel</th>        
        <th>E-mail</th>        
        <th>OBS</th>        
        <th>Ações</th>
    </tr>

    </thead>
    <tbody>
    {% for i in fornecedores %}
    <tr>
        <td><a href="{% url 'sisnlab:listar_sala_id' i.id %}">{{i.usuario|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.nome|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.cnpj|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.cpf|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.data_cadastro|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.endereco|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.telefone|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.cel|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.email|default_if_none:"--" }}</a></td>
        <td><a href="{% url 'sisnlab:editar_fornecedor' i.id %}">{{i.obs}}</a></td>
        
        <td>
            <a href="{% url 'sisnlab:editar_fornecedor' i.id %}" button class="btn btn-success btn-sm">Editar</a>
            <a href="{% url 'sisnlab:remover_fornecedor' i.id %}" button class="btn btn-danger btn-sm">Remover</button> </a>
            <a href="{% url 'sisnlab:visualizar_fornecedor' i.id %}" button class="btn btn-info btn-sm">Visualizar</button> </a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'sisnlab:cadastrar_fornecedor' %}">
    <button class="btn btn-primary ">Cadastrar</button>
</a>
{% endblock content %}
