{% extends "base.html" %}


{% block title %}

{% endblock title %}

{{% block content %}
<div class="card">
    <div class="card-header">
        <h4><strong> Tem certeza que deseja remover a REAGENTE abaixo?</strong></h4>
    </div>
    
    <div class="card-body">
        <h5 class="card-title">Usuario: {{diverso.usuario}}</h5>      
        <h5 class="card-title">Nome: {{diverso.nome}}</h5>      
        <h5 class="card-title">Marca: {{diverso.marca}}</h5>   
        <h5 class="card-title">Unidade: {{diverso.unidade}}</h5>      
        <h5 class="card-title">Quantidade : {{diverso.quantidade}}</h5>            
        <h5 class="card-title">Ficha Técnica: {{diverso.ficha_tec}}</h5>
        <h5 class="card-title">Sala: {{diverso.sala}}</h5>
        <h5 class="card-title">Armario: {{diverso.armario}}</h5>
        <h5 class="card-title">Bancada: {{diverso.bancada}}</h5>
        <h5 class="card-title">Estante: {{diverso.estante}}</h5>
        <h5 class="card-title">Prateleira: {{diverso.prateleira}}</h5>
        <h5 class="card-title">Gaveta: {{diverso.gaveta}}</h5>          
        <h5 class="card-title">Observações: {{diverso.obs}}</h5>        
        <h5 class="card-title">Nome: {{diverso.nome}}</h5>   
        <h5 class="card-title">Foto : <img src="{{diverso.foto.url}}" alt="Norway" style="width:25%"> </h5>    
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>
    </div>
</div>

{% endblock content %}