{% extends "base.html" %}


{% block title %}

{% endblock title %}

{{% block content %}
<div class="card">
    <div class="card-header">
        <h4><strong> Tem certeza que deseja remover a SOLUCÃO abaixo?</strong></h4>
    </div>
    
    <div class="card-body">
        <div class="card-body">                
            <h4 class="card-title"><strong> Nome da Solução : {{pedidosolucao.nome}} </strong></h4>           
        <h5 class="card-title">Concentração : {{pedidosolucao.concentracao|default_if_none:"--"}}</h5>      
        <h5 class="card-title">Data de Produção : {{pedidosolucao.data_producao}}</h5>           
        <h4 class="card-title">Quantidade : {{pedidosolucao.quantidade|default_if_none:"--"}}</h4>  
        <h5 class="card-title">Status : {{pedidosolucao.status|default_if_none:"--"}}</h5> 
        <h5 class="card-title">Sala: {{pedidosolucao.sala|default_if_none:"--"}}</h5>
        <h5 class="card-title">Armario: {{pedidosolucao.armario|default_if_none:"--"}}</h5>
        <h5 class="card-title">Bancada: {{pedidosolucao.bancada|default_if_none:"--"}}</h5>
        <h5 class="card-title">Estante: {{pedidosolucao.estante|default_if_none:"--"}}</h5>
        <h5 class="card-title">Prateleira: {{pedidosolucao.prateleira|default_if_none:"--"}}</h5>
        <h5 class="card-title">Gaveta: {{pedidosolucao.gaveta|default_if_none:"--"}}</h5>
        <h5 class="card-title">Observações: {{pedidosolucao.obs}}</h5>    
       
               
            
            <form method="post">
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>


    </div>
</div>

{% endblock content %}